:root {
    --indexhtmlnero: rgba(255, 255, 255, 1);
    --indexhtmlshark: rgba(33, 37, 41, 1);
    --indexhtmlpale-sky: rgba(108, 117, 125, 1);
    --indexhtmlboulder: rgba(117, 117, 117, 1);
    --indexhtmlgallery: rgba(239, 239, 239, 1);
    --indexhtmlblack: rgba(0, 0, 0, 1);
    --indexhtmlblack-125: rgba(0, 0, 0, 0.12);
    --indexhtmlgray: rgba(128, 128, 128, 1);
    --indexhtmlwestar: rgba(229, 227, 223, 1);
    --indexhtmlroyal-blue: rgba(26, 115, 232, 1);
    --indexhtmlcornflower-blue: rgba(66, 133, 244, 1);
    --indexhtmlcinnabar: rgba(233, 66, 53, 1);
    --indexhtmlselective-yellow: rgba(250, 187, 5, 1);
    --indexhtmlchateau-green: rgba(52, 168, 83, 1);
    --indexhtmlwild-sand: rgba(245, 245, 245, 1);
    --indexhtmlcape-cod: rgba(60, 64, 67, 1);
    --indexhtmlblue-ribbon: rgba(13, 110, 253, 1);
    --indexhtmlscorpion: rgba(91, 91, 91, 1);
    --indexhtmldove-gray: rgba(102, 102, 102, 1);
    --indexhtmlmercury: rgba(230, 230, 230, 1);
    --indexhtmlmischka: rgba(206, 212, 218, 1);
    --indexhtmldenim: rgba(19, 93, 195, 1);
    --indexhtmlathens-gray: rgba(248, 249, 250, 1);
    --indexhtmlblack-20: rgba(0, 0, 0, 0.2);
    --indexhtmlnero-55: rgba(255, 255, 255, 0.55);
    --index-html-roboto-regular-15-88-font-family: "Roboto-Regular", Helvetica;
    --index-html-roboto-regular-15-88-font-weight: 400;
    --index-html-roboto-regular-15-88-font-size: 15.875px;
    --index-html-roboto-regular-15-88-letter-spacing: 0px;
    --index-html-roboto-regular-15-88-line-height: 24px;
    --index-html-roboto-regular-15-88-font-style: normal;
    --index-html-roboto-medium-31-75-font-family: "Roboto-Medium", Helvetica;
    --index-html-roboto-medium-31-75-font-weight: 500;
    --index-html-roboto-medium-31-75-font-size: 31.75px;
    --index-html-roboto-medium-31-75-letter-spacing: 0px;
    --index-html-roboto-medium-31-75-line-height: 38.400001525878906px;
    --index-html-roboto-medium-31-75-font-style: normal;
    --index-html-roboto-light-56-font-family: "Roboto-Light", Helvetica;
    --index-html-roboto-light-56-font-weight: 300;
    --index-html-roboto-light-56-font-size: 56px;
    --index-html-roboto-light-56-letter-spacing: 0px;
    --index-html-roboto-light-56-line-height: 67.19999694824219px;
    --index-html-roboto-light-56-font-style: normal;
    --index-html-roboto-medium-23-63-font-family: "Roboto-Medium", Helvetica;
    --index-html-roboto-medium-23-63-font-weight: 500;
    --index-html-roboto-medium-23-63-font-size: 23.625px;
    --index-html-roboto-medium-23-63-letter-spacing: 0px;
    --index-html-roboto-medium-23-63-line-height: 28.799999237060547px;
    --index-html-roboto-medium-23-63-font-style: normal;
    --index-html-roboto-medium-23-44-font-family: "Roboto-Medium", Helvetica;
    --index-html-roboto-medium-23-44-font-weight: 500;
    --index-html-roboto-medium-23-44-font-size: 23.4375px;
    --index-html-roboto-medium-23-44-letter-spacing: 0px;
    --index-html-roboto-medium-23-44-line-height: 28.799999237060547px;
    --index-html-roboto-medium-23-44-font-style: normal;
    --index-html-roboto-regular-16-font-family: "Roboto-Regular", Helvetica;
    --index-html-roboto-regular-16-font-weight: 400;
    --index-html-roboto-regular-16-font-size: 16px;
    --index-html-roboto-regular-16-letter-spacing: 0px;
    --index-html-roboto-regular-16-line-height: normal;
    --index-html-roboto-regular-16-font-style: normal;
    --index-html-roboto-regular-12-font-family: "Roboto-Regular", Helvetica;
    --index-html-roboto-regular-12-font-weight: 400;
    --index-html-roboto-regular-12-font-size: 12px;
    --index-html-roboto-regular-12-letter-spacing: 0px;
    --index-html-roboto-regular-12-line-height: normal;
    --index-html-roboto-regular-12-font-style: normal;
    --index-html-roboto-regular-10-font-family: "Roboto-Regular", Helvetica;
    --index-html-roboto-regular-10-font-weight: 400;
    --index-html-roboto-regular-10-font-size: 10px;
    --index-html-roboto-regular-10-letter-spacing: 0px;
    --index-html-roboto-regular-10-line-height: 14px;
    --index-html-roboto-regular-10-font-style: normal;
    --index-html-roboto-bold-16-font-family: "Roboto-Bold", Helvetica;
    --index-html-roboto-bold-16-font-weight: 700;
    --index-html-roboto-bold-16-font-size: 16px;
    --index-html-roboto-bold-16-letter-spacing: 0px;
    --index-html-roboto-bold-16-line-height: 24px;
    --index-html-roboto-bold-16-font-style: normal;
    --index-html-roboto-regular-16-underline-font-family: "Roboto-Regular", Helvetica;
    --index-html-roboto-regular-16-underline-font-weight: 400;
    --index-html-roboto-regular-16-underline-font-size: 16px;
    --index-html-roboto-regular-16-underline-letter-spacing: 0px;
    --index-html-roboto-regular-16-underline-line-height: 24px;
    --index-html-roboto-regular-16-underline-font-style: normal;
    --index-html-roboto-medium-14-font-family: "Roboto-Medium", Helvetica;
    --index-html-roboto-medium-14-font-weight: 500;
    --index-html-roboto-medium-14-font-size: 14px;
    --index-html-roboto-medium-14-letter-spacing: 0px;
    --index-html-roboto-medium-14-line-height: normal;
    --index-html-roboto-medium-14-font-style: normal;
    --index-html-roboto-regular-19-84-font-family: "Roboto-Regular", Helvetica;
    --index-html-roboto-regular-19-84-font-weight: 400;
    --index-html-roboto-regular-19-84-font-size: 19.84375px;
    --index-html-roboto-regular-19-84-letter-spacing: 0px;
    --index-html-roboto-regular-19-84-line-height: 30px;
    --index-html-roboto-regular-19-84-font-style: normal;
    --index-html-roboto-regular-20-font-family: "Roboto-Regular", Helvetica;
    --index-html-roboto-regular-20-font-weight: 400;
    --index-html-roboto-regular-20-font-size: 20px;
    --index-html-roboto-regular-20-letter-spacing: 0px;
    --index-html-roboto-regular-20-line-height: 30px;
    --index-html-roboto-regular-20-font-style: normal;
    --index-html-roboto-regular-19-69-font-family: "Roboto-Regular", Helvetica;
    --index-html-roboto-regular-19-69-font-weight: 400;
    --index-html-roboto-regular-19-69-font-size: 19.6875px;
    --index-html-roboto-regular-19-69-letter-spacing: 0px;
    --index-html-roboto-regular-19-69-line-height: 30px;
    --index-html-roboto-regular-19-69-font-style: normal;
    --index-html-material-icons-regular-24-font-family: "MaterialIcons-Regular", Helvetica;
    --index-html-material-icons-regular-24-font-weight: 400;
    --index-html-material-icons-regular-24-font-size: 24px;
    --index-html-material-icons-regular-24-letter-spacing: 0px;
    --index-html-material-icons-regular-24-line-height: 24px;
    --index-html-material-icons-regular-24-font-style: normal;
    --index-html-font-awesome-5-brands-regular-16-font-family: "FontAwesome 5 Brands-Regular", Helvetica;
    --index-html-font-awesome-5-brands-regular-16-font-weight: 400;
    --index-html-font-awesome-5-brands-regular-16-font-size: 16px;
    --index-html-font-awesome-5-brands-regular-16-letter-spacing: 0px;
    --index-html-font-awesome-5-brands-regular-16-line-height: 16px;
    --index-html-font-awesome-5-brands-regular-16-font-style: normal;
  }
  